## Carrying Capacity
---

In [1]:
import matplotlib
import numpy as np
import pandas as pd
import datetime as dt
import theseus_growth as thg
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:

user_set = np.array([[1,2,3], [2,3,4], [2,3,5],[2,3,6], [2,3,1], [2,3,5,6], [2,3,1]], dtype=object)

users_df = pd.DataFrame([user_set]).T
users_df.columns = ['userId']
users_df['userId']=users_df.userId.astype('object')
users_df['month'] = list(range(1,len(user_set)+1))
users_df['serviceId'] = 1


users_df['cum_userId'] = users_df.groupby('serviceId')['userId'].apply(lambda x: x.cumsum())

# users_df = pd.DataFrame(example_df.groupby(['serviceId', 'month'])['userId'].apply(list)).reset_index().copy()
# users_df['userId'] = users_df['userId'].apply(lambda d: d if isinstance(d, list) else [])

users_df['cum_userId'] = users_df['cum_userId'].apply(set)
users_df['userId'] = users_df['userId'].apply(set)

users_df['cum_userId_shifted'] = users_df.groupby('serviceId')['cum_userId'].shift(1)
users_df['userId_shifted'] = users_df.groupby('serviceId')['userId'].shift(1)

users_df['new_userId'] = users_df['cum_userId'] - users_df['cum_userId_shifted']
users_df['churn_userId'] = users_df['userId_shifted'] - users_df['userId']


# display(users_df[users_df.churn_userId.isna()])
users_df['churn_userId'] = users_df['churn_userId'].apply(lambda d: d if isinstance(d, set) else set())\
                                                    .apply(list)

users_df['cum_churn_userId'] = users_df.groupby('serviceId')['churn_userId'].apply(lambda x: x.cumsum())
users_df['churn_userId'] = users_df['churn_userId'].apply(set)
users_df['cum_churn_userId'] = users_df['cum_churn_userId'].apply(set)

users_df['returned_userId'] = users_df.apply(lambda x: x['cum_churn_userId'].intersection(x['userId']), axis=1)
users_df['current_userId'] = users_df['userId']

# display(users_df.head(4))

users_df['num_current_userId'] = users_df.current_userId.str.len()
users_df['num_new_userId'] = users_df.new_userId.str.len()
users_df['num_churn_userId'] = users_df.churn_userId.str.len()
users_df['num_returned_userId'] = users_df.returned_userId.str.len()
users_df[['current_userId','churn_userId','new_userId','returned_userId']]

/tmp/ipykernel_1073732/3252179883.py:10: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  users_df['cum_userId'] = users_df.groupby('serviceId')['userId'].apply(lambda x: x.cumsum())
/tmp/ipykernel_1073732/3252179883.py:29: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  users_df['cum_churn_userId'] = users_df.groupby('serviceId')['churn_userId'].apply(lambda x: x.cumsum())

  current_userId churn_userId new_userId returned_userId
0      {1, 2, 3}           {}        NaN              {}
1      {2, 3, 4}          {1}        {4}              {}
2      {2, 3, 5}          {4}        {5}              {}
3      {2, 3, 6}          {5}        {6}              {}
4      {1, 2, 3}          {6}         {}             {1}
5   {2, 3, 5, 6}          {1}         {}          {5, 6}
6      {1, 2, 3}       {5, 6}         {}             {1}

In [3]:
# # ref. https://stackoverflow.com/questions/45239540/intersection-of-sets-as-columns-in-pandas
# df=pd.DataFrame([[set([1,2,3,4]), set([1,2,3,4]), set([1,2,3,4]),set([1,2,3,4])], 
#                   [set([2,3]), set([1]), set([4]),set([3,4])]]).T

# df.columns = ['i','j']

# df['i-j'] = df['i'] - df['j']
# df['k'] = df.apply(lambda x: x['i'].intersection(x['j']), axis=1)
# df['len_j'] = df.j.str.len()
# df

## Cohort Analysis
---

In [4]:
cm = sns.color_palette("RdPu", n_colors=22, as_cmap=True)

df = pd.read_csv('data/scanner_data.csv')
df.head()

,Unnamed: 0,Date,Customer_ID,Transaction_ID,SKU_Category,SKU,Quantity,Sales_Amount
0,1,02/01/2016,2547,1,X52,0EM7L,1.0,3.13
1,2,02/01/2016,822,2,2ML,68BRQ,1.0,5.46
2,3,02/01/2016,3686,3,0H2,CZUZX,1.0,6.35
3,4,02/01/2016,3719,4,0H2,549KK,1.0,5.59
4,5,02/01/2016,9200,5,0H2,K8EHH,1.0,6.88

In [5]:
df = df.drop(['Unnamed: 0'], axis = 1)
df.Date = pd.to_datetime(df.Date, format='%d/%m/%Y')
df.duplicated(["Date","Customer_ID"]).sum()

68979

In [6]:
df.describe()

         Customer_ID  Transaction_ID       Quantity   Sales_Amount
count  131706.000000   131706.000000  131706.000000  131706.000000
mean    12386.450367    32389.604187       1.485311      11.981524
std      6086.447552    18709.901238       3.872667      19.359699
min         1.000000        1.000000       0.010000       0.020000
25%      7349.000000    16134.000000       1.000000       4.230000
50%     13496.000000    32620.000000       1.000000       6.920000
75%     17306.000000    48548.000000       1.000000      12.330000
max     22625.000000    64682.000000     400.000000     707.730000

In [7]:
df = pd.DataFrame(df.groupby(["Date","Customer_ID"]).agg({'Transaction_ID':max
                                                          , 'SKU_Category':max, 'SKU':max, 'Quantity': sum
                                                          , 'Sales_Amount':sum})).reset_index()
df.head()

,Date,Customer_ID,Transaction_ID,SKU_Category,SKU,Quantity,Sales_Amount
0,2016-01-02,3,90,TW8,Y1M2E,4.0,10.92
1,2016-01-02,178,84,R6E,HO1M5,2.0,58.99
2,2016-01-02,195,107,LGI,VY2UB,2.0,13.10
3,2016-01-02,343,134,XG4,ZSVWE,1.0,6.75
4,2016-01-02,399,136,P42,XJLWY,2.0,10.43

In [8]:
def diff_month(x):
    d1 = x['tx_month']
    d2 = x["acq_month"]
    return ((d1.year - d2.year) * 12 + d1.month - d2.month)+1

def get_cohort_matrix(data, var='Customer_ID', fun=pd.Series.nunique):
    cd = data.groupby(['acq_month', 'cohort_idx'])[var].apply(fun).reset_index()
    cc = cd.pivot_table(index = 'acq_month',
                        columns = 'cohort_idx',
                        values = var)
    cs = cc.iloc[:,0]
    retention = cc.divide(cs, axis = 0)
    retention = retention.round(3) * 100
    return cc, retention

In [9]:
df['tx_month'] = df['Date'].apply(lambda x: dt.date(x.year, x.month,1))
df['acq_month'] = df.groupby('Customer_ID')['tx_month'].transform('min')
df['cohort_idx'] = df.apply(lambda x: diff_month(x), axis=1)

In [10]:
cc, retention = get_cohort_matrix(df)
display(cc.style.background_gradient(cmap=cm, axis=None).format(precision=1))
display(retention.style.background_gradient(cmap=cm, axis=None).format(precision=1))

In [11]:
cc_q, ret_q = get_cohort_matrix( df, var='Quantity', fun=pd.Series.mean )
cc_sa, ret_sa = get_cohort_matrix( df, var='Sales_Amount', fun=pd.Series.median )

display(cc_q.style.background_gradient(cmap=cm, axis=None).format(precision=1))
display(ret_q.style.background_gradient(cmap=cm, axis=None).format(precision=1))
display(cc_sa.style.background_gradient(cmap=cm, axis=None).format(precision=1))
display(ret_sa.style.background_gradient(cmap=cm, axis=None).format(precision=1))

## References

### Carrying Capacity
---
- https://playinpap.github.io/advanced-carrying-capacity/
- pandas 
    - https://stackoverflow.com/questions/44719855/cumulative-list-of-a-column-using-groupby
    - https://stackoverflow.com/questions/45239540/intersection-of-sets-as-columns-in-pandas


### Cohort Analysis
---
- https://www.activestate.com/blog/cohort-analysis-with-python/
- https://www.slideshare.net/leoyang991/ss-90038927
- code & data from
    - https://github.com/nickmancol/python-cohorts