## 반복매매모형

In [1]:
import numpy as np
import pandas as pd

price_arr = [[100, None, 150], [100, None, 140], [100, None, 130],
            [None, 130, 150], [None, 120, 150], [None, 110, 140],
            [80, 100, None], [80, 110, None], [90, 100, None]]

trans_arr = [[-1,0,1],[-1,0,1],[-1,0,1],
            [0,-1,1],[0,-1,1],[0,-1,1],
            [-1,1,0],[-1,1,0],[-1,1,0]]

price_df = pd.DataFrame(price_arr, columns=['6월', '7월', '8월'])

price_df

      6월     7월     8월
0  100.0    NaN  150.0
1  100.0    NaN  140.0
2  100.0    NaN  130.0
3    NaN  130.0  150.0
4    NaN  120.0  150.0
5    NaN  110.0  140.0
6   80.0  100.0    NaN
7   80.0  110.0    NaN
8   90.0  100.0    NaN

In [2]:



log_diffs = []
for i in range(len(price_df)):
    prices = price_df.iloc[i].dropna()
    log_diffs.append(np.log(prices[1]/prices[0]))

trans_arr = np.array(trans_arr)
trans_arr_rm = trans_arr[:,1:]
log_diffs = np.array(log_diffs)

beta_hat = np.linalg.inv(trans_arr_rm.T @ trans_arr_rm) \
            @ trans_arr_rm.T @ log_diffs

indexes = np.array([[1.00] + list(np.exp(beta_hat))]) * 100
indexes

array([[100.        , 120.66740567, 143.69918577]])

- References
    - https://www.youtube.com/watch?v=jnbEsM7SajA